/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;

  .profile_pic {
    position: absolute;
    bottom: 0;
    left: 2em;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  max-height: 500px;
  margin: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  @extend .img-responsive;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.profile_pic {
  @extend .col-md-3;

  img.thumbnail {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
