-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Palsmaker', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      - if user_signed_in?
        = render 'layouts/nav_user'
      - else 
        = render 'layouts/nav_guest'
